@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.back-btn {
  color: $purple;
  border-color: $purple;
}

.back-btn:hover {
  color: $light;
  border-color: $purple;
  background-color: $purple;
}
